@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');
.my-header{
  display: flex;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url('https://images.unsplash.com/photo-1545670723-196ed0954986?ixlib=rb-1.2.1&auto=format&fit=crop&w=1504&q=80');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

header .con-item{
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: auto;
}

header .con-item .items {
color: white;
margin-top: 5px;
font-size: 30px;
font-family: 'Yeon Sung', sans-serif;

}
.hug-imoji{
  width: 50px;
  height: 50px;
}
