<section id="projects">
 <h2>Projects</h2>
  <div class="container-project">
    <div class="card">
        <img src="../../../assets/images/people-making-a-to-do-list-illustration_53876-43029.jpg" alt="To Do App" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Task Manager</h5>
        </div>
        <a href="https://obande-code.github.io/task-manger/" target="_blank" class="btn btn-secondary">Click to view</a>
    </div>

    <div class="card">
        <img id="img1" src="../../../assets/images/Calculator_on_macOS.png" style="width:130px; height:115px;" alt="Calculator" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Calculator</h5>
        </div>
        <a href="https://github.com/obande-code/simple-calculator.git" target="_blank" class="btn btn-secondary">Click to view</a>
    </div>

    <div class="card">
      <img id="img2" src="../../../assets/images/39162918-close-up-happy-boy-laughing-alone.jpg" style="width: 130px; height: 120px;" alt="To Do App" class="card-img-top">
      <div class="card-body">
          <h5 class="card-title">Joke Generator</h5>
      </div>
      <a href="https://github.com/obande-code/jokes-generator.git" target="_blank" class="btn btn-secondary">Click to view</a>
  </div>
  <div class="card">
      <img src="../../../assets/images/download.jpg" alt="To Do App" class="card-img-top">
      <div class="card-body">
          <h5 class="card-title">Deptor's App</h5>
      </div>
      <a href="https://hungry-mcnulty-09e855.netlify.com" target="_blank" class="btn btn-secondary">Click to view</a>
  </div>
  </div>
  </section>

  <section>
    <footer class="footer">
      <p>Made with <i class="fa fa-heart" style="color: red;"></i> from James</p>
    </footer>
  </section>
